.section-1 {
    width: 100%;
    margin: 0px;
    padding: 50px;
    align-content: center;
}
  
.section-2 {
    width: 100%;
    margin: 0px;
    padding: 50px;
    background-color: #e00061;
    color: white;
}
  
.section-header{
    font-weight: bold;
    padding: 50px;
}

.btn-info {
    color: #e00061;
}

#Services {
    margin-bottom: 50px;  
}

.service {
    text-align: center;
}

.carousel-caption {
    bottom: 5rem;
    z-index: 10;
  }
  
.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

.hire-card {
    padding: 25px;
    margin: 10px;
    color: white;
    background-color: #1b1b1b;
    border-radius: 20px;
}